name: Build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        #        os: [windows-latest, macos-latest, ubuntu-latest]
        os: [ ubuntu-latest ]
#    runs-on: self-hosted
    runs-on: ${{ matrix.os }}
    # suppress duplicated builds if changes are pushed to a branch, where a merge request exists
    if: github.event_name != 'push' || github.event.pull_request == null
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
        if: startsWith(matrix.os, 'windows')

      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: 'maven'

      - name: Build with Maven
        run: |
          echo "testcontainers.reuse.enable=true" > /home/runner/.testcontainers.properties
          mvn -B clean install -Dno-format -P without-live-reload-tests -P it
#   TODO: activate for native compilation support
#      - name: Build with Maven (Native)
#        run: mvn -B install -Dnative -Dquarkus.native.container-build -Dnative.surefire.skip
